<template>
	<div>
		<h1>默认页面</h1>
		<div id="login">
			<p><label for="username">账号: </label><input type="text" name="username" ref="username"/></p>
			<p><label for="pwd">密码: </label><input type="password" name="pwd" ref="pwd"/></p>
			<p><button @click="login()">登录</button></p>
		</div>
	</div>
</template>

<script>
	import router from '../router'
	export default{
		data(){
			return{
				username:"",
				pwd:""
			}
		},
		methods:{
			login:function(){
				this.username = this.$refs.username.value
				this.pwd = this.$refs.pwd.value
				let username = this.$refs.username.value
//				用 URLSearchParams 传递参数,需要注意的是： URLSearchParams 不支持所有的浏览器，
//				但是总体的支持情况还是 OK 的，所以优先推荐这种简单直接的解决方案
				let datas = new URLSearchParams()
				datas.append('username',this.username)
				datas.append('pwd',this.pwd)
//				console.log(login)
//				console.log(this.username)
//				console.log(this.pwd)
				this.$http({
			        method:'post',
			        url:'/php/login.php',
			        data:datas
			    })
				.then(function(response){
					console.log("成功了!")
					console.log(response)
					if(response.data==1){
						console.log(localStorage)
						localStorage.setItem("username",username)
						router.push('/option2')
					}

				})
				.catch(function(err){
					console.log(err)
				})
			}
		}
	}
</script>

<style>
	p{
		margin-top: 10px;
	}
</style>