<template>
	<div>
		<!--表格开始-->
		<el-table :data="tableData" border style="width: 100%;text-align: left;">
	      <el-table-column prop="date" label="日期" width="180"></el-table-column>
	      <el-table-column prop="name" label="姓名" width="180"></el-table-column>
	      <el-table-column prop="address" label="地址"></el-table-column>
	      <el-table-column label="操作">
		      <template slot-scope="scope">
		        <el-button size="mini" @click="handleEdit(scope)">修改</el-button>
        		<el-button size="mini" type="danger" @click="handleDelete(scope)">删除</el-button>
        		<!--弹出修改框开始-->
			    <el-dialog  title="修改信息" :visible.sync="dialogFormVisible">
				  <el-form :model="change">
				    <el-form-item label="日期" :label-width="formLabelWidth">
				      <el-date-picker style="width: 100%;" v-model="change.day" type="date" placeholder="选择日期" value-format="yyyy-MM-dd" auto-complete="off"></el-date-picker>
				    </el-form-item>
				    <el-form-item label="姓名" :label-width="formLabelWidth">
				      <el-input v-model="change.name" auto-complete="off"></el-input>
				    </el-form-item>
				    <el-form-item label="地址" :label-width="formLabelWidth">
				      <el-input v-model="change.address" auto-complete="off"></el-input>
				    </el-form-item>
				  </el-form>
				  <div slot="footer" class="dialog-footer">
				    <el-button @click="dialogFormVisible = false">取 消</el-button>
				    <el-button type="primary" @click="dialogFormVisible = false,changeData(index,change)">确 定</el-button>
				  </div>
				</el-dialog>
				<!--弹出修改框结束-->
		      </template>
	      </el-table-column>
	    </el-table>
	    <!--表格结束-->
	    
	</div>

	

</template>

<script>
export default {
  data() {
    return {
    	index:'',
    	change:[],
    	dialogFormVisible: false,
    	formLabelWidth: '120px',
	    tableData: [{
	        date: '2016-05-02',
	        name: '王小虎1',
	        address: '上海市普陀区金沙江路 1518 弄'
	    }, {
	        date: '2016-05-04',
	        name: '王小虎2',
	        address: '上海市普陀区金沙江路 1517 弄'
	    }, {
	        date: '2016-05-01',
	        name: '王小虎3',
	        address: '上海市普陀区金沙江路 1519 弄'
	    }, {
	        date: '2016-05-03',
	        name: '王小虎4',
	        address: '上海市普陀区金沙江路 1516 弄'
	    }]
    }
  },
  methods:{
  	//打开弹出框，并把本行数据传到change里面保存
  	handleEdit:function(scope){
//		console.log(scope)
  		var _this = this
  		_this.change = scope.row
  		_this.index = scope.$index
  		_this.dialogFormVisible = true
  	},
  	//删除按钮的触发事件
  	handleDelete:function(scope){
//		console.log(scope.$index)
//		console.log(scope.row.name)
		let i = scope.$index
		this.tableData.splice(i,1)
  	},
  	//弹出框确认修改触发事件，修改tableData数组里面的数据
  	changeData:function(index,change){
		this.tableData[index].date=change.day
		this.tableData[index].name=change.name
		this.tableData[index].address=change.address
		
  	}
  }
}
</script>
<style>
</style>