<template>
	<div id="userList">
		<el-table :data="tableData" border style="width: 100%;text-align: left;">
	      <el-table-column prop="date" label="日期" width="180"></el-table-column>
	      <el-table-column prop="name" label="姓名" width="180"></el-table-column>
	      <el-table-column prop="address" label="地址"></el-table-column>
	    </el-table>
	</div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        date: '2018-05-02',
        name: '张三',
        address: '上海市普陀区金沙江路 1518 弄'
      }, {
        date: '2018-05-04',
        name: '李四',
        address: '上海市普陀区金沙江路 1517 弄'
      }, {
        date: '2018-05-01',
        name: '王五',
        address: '上海市普陀区金沙江路 1519 弄'
      }, {
        date: '2018-05-03',
        name: '赵八',
        address: '上海市普陀区金沙江路 1516 弄'
      }]
    }
  }
}	
</script>

<style>
</style>