.Header{
	background-color: #409eff;
}

.Header .title{
	color: #fff;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	text-align: left;
	padding-left: 50px;
}

.option_title{
	height: 20px;
	line-height: 20px;
	font-size: 16px;
}

.view_container{
	height: 600px;
}

.clearA{
	text-decoration: none;
}

.footer_box{
	background-color: #909399;
	font-size: 12px;
}

.container_box{
	background-color: white;
}
