<template>
  <div id="app">
    <el-container>
    	<!--头部开始-->
		  <el-header class="Header">
		  	<p class="title">不知道是什么的后台管理系统</p>
		  </el-header>
		  <!--头部结束-->
		  <!--中间部分开始-->
		  <el-container class="container_box">
		  	<!--左边部分开始-->
		    <el-aside width="200px">
		    	<el-row class="tac" style="padding-top: 10px;height: 100%;">
					  <el-col style="height: 100%;">
					    <!--<h5 class="option_title">选项</h5>-->
					    <!--default-active是设置默认激活的选项-->
					    <el-menu default-active="2" class="el-menu-vertical-demo" style="height: 99%;box-sizing:content-box;">
					      <el-submenu index="1">
					        <template slot="title">
					          <span>导航一</span>
					        </template>
					        <el-menu-item-group>
					          <template slot="title">分组一</template>
					          <el-menu-item index="1-1">选项1</el-menu-item>
					          <el-menu-item index="1-2">选项2</el-menu-item>
					        </el-menu-item-group>
					        <el-menu-item-group title="分组2">
					          <el-menu-item index="1-3">选项3</el-menu-item>
					        </el-menu-item-group>
					        <el-submenu index="1-4">
					          <template slot="title">选项4</template>
					          <el-menu-item index="1-4-1">选项1</el-menu-item>
					        </el-submenu>
					      </el-submenu>
					      
					      <router-link to="/option2" class="clearA">
						      <el-menu-item index="2">
						        <span slot="title">用户列表</span>
						      </el-menu-item>
					      </router-link>
					      
					      <router-link to="/option3" class="clearA">
						      <el-menu-item index="3">
						        <span slot="title">用户列表2</span>
						      </el-menu-item>
					      </router-link>
					      
					      <router-link to="/option4" class="clearA">
						      <el-menu-item index="4">
						        <span slot="title">导航四</span>
						      </el-menu-item>
					      </router-link>
					    </el-menu>
					  </el-col>
					</el-row>
		    </el-aside>
		    <!--左边部分结束-->
		    <!--显示选项页面的地方开始-->
		    <el-container>
		      <el-main class="view_container">
		      	<router-view/>
				  </el-main>
		    </el-container>
		    <!--显示选项页面的地方结束-->
		  </el-container>
		  <!--中间部分结束-->
		  <!--底部开始-->
	    <el-container class="footer_box">
	    	<el-main>
	    		<el-footer>&copy;纯天然de帅</el-footer>
		    </el-main>
	    </el-container>
	    <!--底部结束-->
		</el-container>
    
    

  </div>
</template>

<script>
/*测试用的JQuery
import $ from 'jquery';
$(function(){
	$("#click").click(function(){
		$.ajax({
			type:"POST",
			url:"/php/sql_connect.php",
			dataType:'json',
			async:true,
			success:function(data){
				console.log(data);
			},
			error:function(err){
				console.log(err.responseText);
			}
		});
	});
});
*/

export default {
  name: 'App'
}
</script>

<style>

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /*margin-top: 60px;*/
}
</style>
